#welcome {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-font-family: "Georgia";
    -fx-font-style: oblique;
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.scroll-pane {
    -fx-background: rgb(200,50,20);
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Harrington";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.label{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "David";
}

#progressPercentLabel{
    -fx-text-fill: black;
}